<h1>New Postcode List</h1>

<%= error_messages_for :postcode_list %>

<% form_for(:postcode_list, :url => collection_url) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'admin/shared/new_resource_links' %>
<% end %> 
